@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

@import url("https://fonts.gstatic.com/s/baskervville/v20/YA9Br0yU4l_XOrogbkun3kQ6vLFYXmpq8sRsYuDrigq4dC1F.woff2");

@import url("https://fonts.gstatic.com/s/prompt/v12/-W__XJnvUD7dzB2KYNod.woff2");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #040D10 !important;
}

/*****************************************/
/************* HERO SECTION *************/

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/hotel_1.png);
    background-size: cover;
}

.hero-text {
    width: 100%;
    top: 26rem;
}

.hero-title-one {
    font-family: Baskervville;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 210, 141);
}

.hero-title-two {
    font-family: Baskervville, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.hero-title-three {
    font-family: Baskervville, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
    text-transform: uppercase;
}

/**************** NAVBAR *****************/

.navbar {
    background: transparent;
    z-index: 1001;
    color: black !important;
    border-bottom: 1px solid #ffd18d50;
    margin: 0;
    padding: 0;
}

.nav-main {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-book-btn {
    text-decoration: none;
    font-family: Prompt, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: white;
    text-transform: uppercase;
    padding: 0 1rem 0 0;
    transition: color .3s ease;

}

.nav-book-btn:hover {
    color: #FFD28D;
}

.header-book-btn {
    height: 100% !important;
    padding: 1.5rem 0;
    border-right: 1px solid #ffd18d50;


}

.nav-right {
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-left: 1px solid #ffd18d50;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: block;
    z-index: 1002;

}


.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFD28D;
    border-radius: 9px;
    left: 0;
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
}

.burger span:nth-of-type(2) {
    top: 40%;
    transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
    top: 80%;
    transform: translateY(-100%);
}

.burger.active span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 10px;
}

.burger.active span:nth-of-type(2) {
    opacity: 0;
}

.burger.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 10px;
}

.overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #040D10;
    transition: top 0.6s ease;
    z-index: 1000;
}

.overlay.active {
    top: 0;
}


.overlay-content {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 10rem;
    gap: 0.3rem;
    font-size: 1.5rem;
}

.overlay-content a {
    font-family: Baskervville;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    color: rgb(255, 248, 238);
    text-decoration: none;
    transition: color 0.3s;
    font-style: italic;
}

.overlay-content a:hover {
    color: #FFD28D;
}

/* --- FORM CONTAINER --- */
.filter-section {
    bottom: -6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center !important;
    gap: 1rem;
    width: 96%;
    background-color: #040D10;
    padding: 3rem 0;
    /* min-width: 100%; */
}

/* 
.form-item {
    padding: 0 3rem;
} */

.form-item input,
.form-item select {
    border: .1px solid #c5a57270;
    background-color: transparent;
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;


    font-family: Prompt, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
}

/* --- Hover & Focus --- */

.form-item select:focus {
    border-color: #c5a57270;
}

.form-item input:focus {
    outline: 4px solid #040D10;
    background-color: #040D10 !important;
    color: white;
    border-color: #c5a57270;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23c5a572' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .89-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V6c0-1.11-.89-2-2-2zm0 16H5V9h14v11z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: cover;
    filter: none;
    opacity: 1;
    cursor: pointer;
    /* margin-left: 4rem; */
}

.form-item {
    position: relative;
    width: 200px;
}


.select-item::after {
    content: "\25BC";
    font-size: 0.8rem;
    color: #c5a572;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-option option {
    color: black;
}

.check-availability-btn {
    font-family: Prompt, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: black;
    text-transform: uppercase;

    background-color: #FFD28D;
    border: none;
    padding: 1rem 1rem;
    width: fit-content;
    transition: all 0.3s ease;
}

.check-availability-btn:hover {
    background-color: #040D10;
    border-top: 1px solid #c5a572;
    border-bottom: 1px solid #c5a572;
    color: white;
}


.navbar-nav {
    display: flex !important;
    gap: 3rem;
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: rgb(255, 250, 242);
    text-transform: uppercase;
}

.navbar-nav>li a {
    color: white;
}


#nav-links {
    padding-top: 6rem !important;
    border: none;
}

@media (max-width: 768px) {
    .form {
        flex-direction: column;
        /* padding: 2rem; */
    }

    .form-item {
        width: 95%;
    }

    .filter-section {
        bottom: -35rem;
    }

    .hero-section {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero-text {
        width: 100%;
        top: 16rem;
    }

    .hero-title-two {
        font-size: 2rem;
    }
}



/* about us */

.about-img {
    height: 350px;
    overflow: hidden;
    margin-top: 13rem;

}

.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.welcome-section {
    padding: 80px 0;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
}

.welcome-section .container {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}


.line-before {
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 50px;
    margin-bottom: 2rem;
    font-family: Prompt;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}

.line-before::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: rgb(255, 210, 141);
}


.welcome-title {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 69px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.welcome-title .highlight {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 69px;
    color: rgb(255, 210, 141);
}

.welcome-desc {
    font-size: 17px;
    line-height: 1.7;
    font-family: "Poppins", sans-serif;
    color: #cfcfcf;
    margin-bottom: 20px;
}


.signature {
    font-family: "Great Vibes", cursive;
    font-size: 36px;
    color: #ffffff;
    margin-top: 40px;
}



/* accomodation */
.accomodation {
    padding: 4rem 0;
}

.acc-header h2 {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}

.acc-header h4 {
    font-family: Baskervville;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 210, 141);
}

.cards {
    gap: 2rem;
}

.card {
    background-color: transparent !important;
    border: none !important;
}

.card img {
    border-radius: 0;
}

.card-body {
    padding-left: 0 !important;
}

.room-card-title {
    font-family: Baskervville;
    font-size: 26px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

.room-card-title:hover {
    color: #c5a572;
}

.border-left {
    border-left: 1px solid #c5a57249;
}

.room-card-info p {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    padding: 0 2rem;
}

.room-card-info :nth-child(1) {
    padding-left: 0 !important;
}

.card-body p {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(200, 200, 200);
}

.room-card-footer {
    align-items: center;
    gap: 1rem;
}

.room-card-footer a {
    position: relative;
    border: none;
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 210, 141);
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.room-card-footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #4F4836;
    transition: width 0.5s ease;
}

.room-card-footer:hover a {
    color: white;
}

.room-card-footer:hover a::after {
    width: 105%;
}

.room-card-footer i {
    color: rgb(255, 210, 141);
    transition: transform 0.5s ease;
}

.room-card-footer:hover i {
    transform: translateX(0.5rem);
}

.acc-footer a {
    position: relative;
    display: inline-block;
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 210, 141);
    border-bottom: 1px solid rgb(255, 210, 141);
    text-decoration: none;
    padding: .8rem 1.2rem;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

/* Animated borders (initially hidden) */
.acc-footer a::before,
.acc-footer a::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgb(255, 210, 141);
    width: 0;
    transition: width 0.4s ease;
}

.acc-footer a::before {
    top: 0;
    right: 0;
    transform-origin: right;
}

.acc-footer a::after {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

/* Hover effect */
.acc-footer a:hover {
    border: none;
    /* hides default borders */
}

.acc-footer a:hover::before {
    width: 100%;
    /* top border: right → left */
}

.acc-footer a:hover::after {
    width: 100%;
    /* bottom border: left → right */
}



@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}



/* Services */

/* .services {
    margin-bottom: 50rem;
} */

.service-header h1 {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 69px;
    color: rgb(255, 255, 255);
}

.service-header>h1 span {
    color: #FFD28D;
}

.service-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4rem;
}

.service-left {
    width: 40%;
}

.service-right {
    width: 60%;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.service-content a {
    text-decoration: none;
    border-bottom: 1px solid #4F4836;
    padding: 0 0 1rem 0;
}

.service-content h4 {
    font-family: Baskervville, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 254, 252);
}


.service-img {
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.service-img img {
    max-width: 100%;
    width: 100%;
}

.num-item h2 {
    font-family: Prompt, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 210, 141);
}



.numbers {
    padding: 7rem 0;
}

.num-items {
    justify-content: space-between;
    align-items: center;
}

.num-item>p span {
    font-family: Baskervville;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 210, 141);
    font-style: italic;
}

.num-item p {
    font-family: Baskervville;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-style: italic;
    margin-top: 2rem !important;
}



.testimonial {
    padding: 4rem 0;
}

.test-main {
    align-items: center;
}

.test-head h3 {
    font-family: Baskervville, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}

.test-head p {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.test-body {
    width: 100%;
}

.test-body p {
    font-family: Prompt, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 255, 255);
    width: 60%;
}

.test-head img {
    border-radius: 50%;
}

.navigation-icons {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.navigation-icons i {
    border: 1px solid #c5a572;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navigation-icons i:hover {
    background-color: #c5a572;
}



.extra-features {
    padding: 7rem 0;
}

.extra-features-head h4 {
    font-family: Baskervville;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 210, 141);
    font-style: italic;
}

.extra-features-head h2 {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}

.feature-cards {
    justify-content: space-between;
}

.cust-cards1 {
    margin: 0 6.25rem;
}

/* .cust-cards2 {
} */


.feature {
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    gap: 1.5rem;
    background-color: #091E24;
    padding: 3rem;
}

.feature-card {
    border-right: 1px solid #4F4836;

}

.feature-content>h4 span {
    font-family: Baskervville, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}

.feature-content h4 {
    font-family: Baskervville, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 255, 255);
}

.feature-content p {
    font-family: Prompt;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(200, 200, 200);
}

.feature-img img {
    border: 1px solid #c5a57263;
    padding: 1rem;
    border-radius: 50%;
}

.border-container1 {
    border-bottom: 1px solid #4F4836;
}

.border-container2 {
    border-bottom: none;
    padding: 0 6.25rem;
}




/* our gallery  */

.gallery {
    padding: 4rem 0;
}

.gallery-head h4,
.news-head h4 {
    font-family: Baskervville;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 210, 141);
}

.gallery-head h2,
.news-head h2 {
    font-family: Baskervville, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 210, 141);
}


.gallery-images img {
    width: 20rem;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* news and events */

.news-events {
    padding: 4rem 0;
}


.news-main {
    justify-content: space-between;
}

.cards {
    gap: 1rem;
}

.news-content {
    margin-left: 2rem;
    min-width: 25rem !important;
}

.news-card-date {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.news-card-title {
    font-family: Baskervville;
    font-size: 22px;
    font-weight: 400;
    color: #FFD28D;
    text-decoration: none;
}

.news-card-btn {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.news-content p {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(200, 200, 200);
}

.news-card {
    background-color: #091E24;
    padding: 1rem 2rem;
}

.news-date {
    border: 1px solid #4F4836;
    border-radius: 50%;
    padding: 1.5rem 1.8rem;
    margin: 0 1rem 0 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.news-date p {
    margin-bottom: 0;
}

.n-date {
    font-family: Prompt !important;
    font-size: 36px !important;
    font-weight: 400 !important;
    color: rgb(255, 210, 141) !important;
}

.month-name {
    font-family: Baskervville !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: rgb(255, 210, 141) !important;
}

.n-title {
    font-family: Baskervville, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28.8px;
    color: white;
    /* color: rgb(255, 220, 166); */
    text-decoration: none;
}

.news-text p {
    font-family: Prompt;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(200, 200, 200);
}


/* Footer */

.logo-light {
    border-bottom: 1px solid #4F4836;
    padding: 0 0 6rem 0;
}

.footer-content {
    padding: 4rem 0;
    border-bottom: 1px solid #4F4836;
}

.footer-menu {
    margin-bottom: 6rem;
}

.footer-menu-ul {
    gap: 5rem;
    margin: 0;
    padding: 0;
}

.footer-email a {
    font-family: Prompt, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-menu-ul li {
    list-style: none;
}

.footer-menu-ul>li a {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


.footer-info {
    justify-content: space-between;
    /* gap: 3rem; */
}

.footer-phn a,
.footer-address a {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.email-input {
    border: 1px solid #4F4836;

}

.email-input input {
    font-family: Prompt, sans-serif;
    background-color: transparent;
    border: none;
    padding: 1rem 1.5rem;
    color: white;
}

.email-input input:focus {
    outline: none;
}

.email-input input::placeholder {
    font-family: Prompt, sans-serif;
}

.btn-input {
    margin: 0 1rem;
    padding: .4rem .7rem;
    border-radius: 1rem;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    background-color: transparent;
    border-top: 1px solid #FFD28D;
    border-bottom: 1px solid #FFD28D ;
}

.footer-btn:hover a {
  color: white;
}

.footer-btn a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2rem;
    font-family: Prompt, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: black;
}


.copy-right-section {
    padding: 7rem 0 2rem 0;
}

.copy-right-section p {
    font-family: Prompt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(200, 200, 200);
}